<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OurFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Succes</display-name>
    <servlet-name>Succes</servlet-name>
    <servlet-class>com.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Succes</servlet-name>
    <url-pattern>/Succes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticateUser</display-name>
    <servlet-name>AuthenticateUser</servlet-name>
    <servlet-class>com.AuthenticateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateUser</servlet-name>
    <url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDetails</display-name>
    <servlet-name>DisplayDetails</servlet-name>
    <servlet-class>com.DisplayDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDetails</servlet-name>
    <url-pattern>/DisplayDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProudctById</display-name>
    <servlet-name>getProudctById</servlet-name>
    <servlet-class>com.getProudctById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProudctById</servlet-name>
    <url-pattern>/getProudctById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProduct</display-name>
    <servlet-name>GetAllProduct</servlet-name>
    <servlet-class>com.GetAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProduct</servlet-name>
    <url-pattern>/GetAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServelet</display-name>
    <servlet-name>DeleteProductServelet</servlet-name>
    <servlet-class>com.DeleteProductServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServelet</servlet-name>
    <url-pattern>/DeleteProductServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServelet</display-name>
    <servlet-name>UpdateProductServelet</servlet-name>
    <servlet-class>com.UpdateProductServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServelet</servlet-name>
    <url-pattern>/UpdateProductServelet</url-pattern>
  </servlet-mapping>
</web-app>